@charset "UTF-8";

/* ========================================
    商品一覧ページのスタイル
   ======================================== */

/* ========================================
    search-wrapperの設定
   ======================================== */

.search-wrapper {
  padding: 100px 0 50px 0; /*上はヘッダが来るのでその分180px分空ける*/
  text-align: center;
  position: fixed; /* スクロールしても表示されるように位置を固定 */
  height: 65px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1; /* 上に表示されるようにする(数が多いほど上に来る。例えば-1にすると裏側に行き見えなくなります) */
}


/* ========================================
    item-wrapperの設定
   ======================================== */

.item-wrapper {
  padding-top: 300px; /* 上はヘッダや検索フォームが来るのでその分空ける */
  padding-bottom: 80px;
  padding-left: 15%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap; /* 表示内容が多かった時に自動的に複数行に分割される */
}

.item {
  flex: 0 0 320px; /* paddingやborder含むitem全体の横幅を320pxにする */
  padding: 20px;
}

.item-icon img {
  margin: auto;
  display: block;
  border-radius: 30px;
  width: 200px;
  height: 200px;
  padding: 0 0 15px 0;
}

/* サイズをオレンジ〇で囲む */
.price {
  /* サイズ指定 */
  background-color: #ff4500;
  border-radius: 50%; /* 角丸にする設定 */
}
