<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detail</title>
</head>

<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="css/footer.css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" href="css/responsive.css" th:href="@{/css/responsive.css}"/>
<link href="../static/css/sign-up.css" th:href="@{/css/sign-up.css}" rel="stylesheet" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
</head>

<header>
      <!-- <div class="container"> -->
        <div class="header">
          <div class="header-left">
          <a th:href="@{/market}">
              <img class="logo" th:src="@{/img/logo.jpg}" />
            </a>
          </div>

			<div class="header-right">
				<a href="item_list.html" th:href="@{/market}"><i class="fas fa-list"></i>商品一覧</a> 
				<a href="item_list.html" th:href="@{/toInsertItem}"><i class="fas fa-camera"></i>出品</a><a
					href="sign-up.html" th:href="@{/market/signup}"><i
					class="fas fa-registered"></i>会員登録</a> <a href="#"><i
					class="fas fa-shopping-cart"></i>カート</a> <a href="login.html"
					th:href="@{/market/login}"> <i class="fas fa-sign-in-alt"></i>ログイン
				</a>
			</div>
		</div>
</header>


<body>
 <body>
    <div class="container">
      <form th:action="@{/inCart}" method="post" th:object="${itemCartInForm}">
      	<input type="hidden" name="id" th:value="${item.id}">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
          	
            <h3 class="text-center">商品詳細</h3>
            <div class="row">
              <div class="col-xs-5">
                <img
                  th:src="@{/img/} + ${item.imagePath}"
                  class="img-responsive img-rounded item-img-center"
                />
                <input type="hidden" name="imagePath" th:value="${item.imagePath}">
              </div>

              <div class="col-xs-5">
                <div class="bs-component">
                  <h4 th:text="${item.name}">ダミー</h4>
                  <input type="hidden" name="name" th:value="${item.name}">
                  <br />
                  <br />
                  <p th:text="${item.description}">
                    ダミー
                  </p>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-xs-offset-2 col-xs-3">
                <div class="form-group">
                  <p>
                    <input
                      class="form-control btn btn-warning btn-block"
                      type="submit"
                      value="カートに入れる"
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- end container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/item_deail.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>