<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Put up for auction</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link href="../static/css/market.css" th:href="@{/css/market.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/header.css" th:href="@{/css/header.css}" />
<link rel="stylesheet" href="css/footer.css" th:href="@{/css/footer.css}" />
<link rel="stylesheet" href="css/top.css" th:href="@{/css/top.css}" />
<link rel="stylesheet" href="css/responsive.css" th:href="@{/css/responsive.css}" />
<link rel="stylesheet" href="css/common.css" th:href="@{/css/common.css}" />
<link rel="stylesheet" href="css/item_list.css" th:href="@{/css/item_list.css}" />
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />

</head>
<header>
	<div class=”container-fluid“>
		<div class=”row-fluid“>
			<!-- <div class="container"> -->
			<div class="header">
				<div class="header-left">
					<a th:href="@{/market}"> <img class="logo"
						th:src="@{/img/logo.jpg}" />
					</a>
				</div>

				<div class="header-right">
					<a href="item_list.html" th:href="@{/toInsertItem}"><i class="fas fa-camera"></i>出品</a> <a
						href="item_list.html"><i class="fas fa-history"></i>注文履歴</a> <a
						href="sign-up.html" th:href="@{/market/signup}"><i
						class="fas fa-registered"></i>会員登録</a> <a href="#"><i
						class="fas fa-shopping-cart"></i>カート</a> <a href="login.html"
						th:href="@{/market/login}"> <i class="fas fa-sign-in-alt"></i>ログイン
					</a>
				</div>
			</div>
			<!-- スマートフォン用のメニューアイコン -->
			<div class="menu-icon">
				<span class="fa fa-bars"></span>
			</div>
		</div>
	</div>
</header>
<body>
<div class="insert-wrapper">
	<form th:action="@{/insertItem}" method="post" th:object="${itemForm}" enctype="multipart/form-data">
	<legend>出品</legend>
	<input type="file" name="imagePath" th:field="*{imagePath}" accept=“.jpg,.png,image/jpeg,image/png”><br>
	<h5>商品名</h5>
    <label th:errors="*{name}" class="control-label" style="color: #de3155" for="inputError" ></label><br>
    <input type="text" name="name" th:field="*{name}">
    <h5>商品説明</h5>
    <label th:errors="*{description}" class="control-label" style="color: #de3155" for="inputError" ></label><br>
    <textarea id="name" name="description" rows="5" cols="50"></textarea>
    <h5>価格</h5>
    <label th:errors="*{price}" class="control-label" style="color: #de3155" for="inputError" ></label><br>
    <input type="text" name="price" th:field="*{price}"><br>
    <h5>カテゴリー</h5>
    <label th:errors="*{category}" class="control-label" style="color: #de3155" for="inputError" ></label><br>
    <input type="text" name="category" th:field="*{category}"><br>
   <div class="insert-blank">
	<p>
    	<input class="btn btn--submit" type="submit" value="商品を登録" />
    </p>
</div>


	<!-- end container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	</form>
	</div>
	
</body>
</html>