<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="css/footer.css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" href="css/responsive.css" th:href="@{/css/responsive.css}"/>
<link href="../static/css/sign-up.css" th:href="@{/css/sign-up.css}" rel="stylesheet" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
</head>

<header>
<div class=”container-fluid“>
<div class=”row-fluid“>
      <!-- <div class="container"> -->
        <div class="header">
          <div class="header-left">
          <a th:href="@{/market}">
              <img class="logo" th:src="@{/img/logo.jpg}" />
            </a>
          </div>

			<div class="header-right">
				<a href="item_list.html" th:href="@{/market}"><i class="fas fa-list"></i>商品一覧</a> 
				<a href="item_list.html" th:href="@{/toInsertItem}"><i class="fas fa-camera"></i>出品</a><a
					href="sign-up.html" th:href="@{/market/signup}"><i
					class="fas fa-registered"></i>会員登録</a> <a href="#"><i
					class="fas fa-shopping-cart"></i>カート</a> <a href="login.html"
					th:href="@{/market/login}"> <i class="fas fa-sign-in-alt"></i>ログイン
				</a>
			</div>
		</div>

<body>
<div class="login-page">
<form method="post" action="login.html" th:action="@{/market/login}" th:object="${loginForm}">
  <div class="form">
    <form class="login-form">
    	<legend>ログイン</legend>
    	<label th:if="${errorMessage}" class="control-label" style="color: #de3155" for="inputError" th:text="${errorMessage}">ダミー</label>
		<div class="alert alert-success" th:if="${message}">
        <span th:text="${message}">会員登録に成功しました。</span>
		</div>
		<label for="inputEmail"></label>
		<input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email" th:field="*{email}" style=" margin-right: auto; margin-left: auto;"/>

		<label for="inputPassword"></label>
		 <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" style=" margin-right: auto; margin-left: auto;"/>
      <button>login</button>
      <p class="message">Not registered? <a href="sign-up.html" th:href="@{/market/signup}">Create an account</a></p>
    </form>
    </form>
  </div>
</div>
<script src="../static/js/sign-up.js" th:src="@{/js/sign-up.js}"></script>
</body>
</html>