<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>market</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<link rel="stylesheet" th:href="@{/css/slide.css}" />
<link href="../static/css/market.css" th:href="@{/css/market.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}" />
<link rel="stylesheet" th:href="@{/css/top.css}" />
<link rel="stylesheet" th:href="@{/css/responsive.css}" />
<link href="../static/css/market.css" th:href="@{/css/market.css}" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet" />
</head>
<div class="responsiv">
<header>
<div class=”container-fluid“>
<div class=”row-fluid“>
      <!-- <div class="container"> -->
        <div class="header">
          <div class="header-left">
          <a th:href="@{/market}">
              <img class="logo" th:src="@{/img/logo.jpg}" />
            </a>
          </div>

			<div class="header-right">
			<a href="item_list.html" th:href="@{/toInsertItem}"><i class="fas fa-camera"></i>出品</a>
				<a href="item_list.html" th:href="@{/market}"><i class="fas fa-list"></i>商品一覧</a>
				<a href="#"><i
					class="fas fa-shopping-cart"></i>カート</a> <a
					href="sign-up.html" th:href="@{/market/signup}"><i
					class="fas fa-registered"></i>会員登録</a>  <a href="login.html"
					th:href="@{/market/login}"> <i class="fas fa-sign-in-alt"></i>ログイン
				</a>
			</div>
		</div>

		<!-- スマートフォン用のメニューアイコン -->
		<div class="menu-icon">
			<span class="fa fa-bars"></span>
		</div>
	</div>
</header>
<body>
	<!-- 画像 -->
<ul class="slider">
<li class="slider-item slider-item01"></li>
<li class="slider-item slider-item02"></li>
<li class="slider-item slider-item03"></li>
</ul>


	<!-- 下記詳細 -->
	<div class="top-item-wrapper">
		<div class="container">
			<div class="heading">
				<h2>Memory Marketとは？</h2>
				思い出と一緒に物を出品、購入出来るフリマサービスです。
			</div>
			
			<div class="top-items">
				<div class="top-item">
					<div class="top-item-icon">
						<img src="img/1.jpg" />
					</div>
					<p class="text-contents">
						思い出の品をエピソードを添えて出品してみよう！
						(エピソードが良ければポイントが付与されるかも？！)
					</p>
				</div>
				<div class="top-item">
					<div class="top-item-icon">
						<img src="img/2.jpg" />
					</div>
					<p class="text-contents">
						気になったアイテムをクリックして購入をしてみよう！
					</p>
				</div>
				<div class="top-item">
					<div class="top-item-icon">
						<img src="img/14.jpg" />
					</div>
					<p class="text-contents">
						購入した金額によって10%のポイントが付与されます！
						</p>
				</div>
				<div class="top-item">
					<div class="top-item-icon">
						<img src="img/13.jpg" />
					</div>
					<p class="text-contents">
						
						<i class="fas fa-arrow-right"></i>
					</p>
					
				</div>
				
			</div>
		</div>
	</div>

	<div class="message-wrapper">
		<div class="container">
			<div class="heading">
				<h2>今すぐ出品、購入してみよう！</h2>
			</div>
			<a href="item_list.html" th:href="@{/market}">
			<span class="btn message" >Memory Marketに行く！</span></a>
		</div>
	</div>

	<footer>
		<div class="container">
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!--自作のJS-->
<script src="../static/js/slide.js" th:src="@{/js/slide.js}"></script>
</body>
</div>
</html>
